@media (prefers-color-scheme: light) {
  /*
    In light mode, modify the highlight.js theme to give a faint
    background to code blocks.
  */
  .hljs {
    background: #fafafa;
  }
}

h1 { line-height: 1 }

figure > img {
  outline: 4px solid var(--background);
  outline-offset: -4px;
}

blockquote {
  padding: 0 1em;
}

.subtitle {
  font-size: larger;
  font-weight: 600;
}

#logo {
  display: block;
  margin: -1em auto -2.25em auto;
  width: 14em;
}

.installationInstructions {
  border: 2px solid lightblue;
  border-top: 0;
  padding: 0.5em 1em;
  border-radius: 0 0 6px 6px;
}

.installationInstructions small {
  font-size: 1em;
  font-style: italic;
}

#platform-tabs {
  text-align: left;
  border-bottom: 2px solid lightblue;
  padding-left: 0;
  margin-bottom: 0;
}

#platform-tabs li {
  display: inline-block;
  margin-left: 0.25em;
}

#platform-tabs li:first-of-type {
  margin-left: 0;
}

#platform-tabs li button[aria-current='true'] {
  background-color: lightblue;
}

#platform-tabs li button {
  font-family: inherit;
  font-size: 1em;
  border: none;
  background-color: transparent;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  color: #304349;
  border-radius: 0.25em 0.25em 0 0;
}

@media (prefers-color-scheme: dark) {
  /*
    In dark mode, modify the highlight.js theme to make the
    backgrounds of code blocks match the background colour
    used elsewhere in Water.
  */
  .hljs {
    background: var(--background);
  }

  .installationInstructions img {
    /*
      Do a quick and dirty invert for images in the installation
      instructions as the light mode ones are very bright. Later
      I might actually have dark mode screenshots for that.
    */
    filter: invert(100%) hue-rotate(180deg);
  }

  #platform-tabs, .installationInstructions {
    border-color: var(--border);
  }

  /* Tweak tab buttons so unselected tabs are still legible. */
  #platform-tabs li button {
    color: var(--text-bright);
  }

  #platform-tabs li button:not([aria-current="true"]) {
    color: var(--text-main);
  }

  #platform-tabs li button[aria-current='true'] {
    background-color: var(--border);
  }

  #logo {
    /*
      Add glow around kitten so whiskers are not lost in the dark.
      Oh, look, it’s a kitten moon :)
    */
    filter: drop-shadow(-2px 2px 20px #fff);
  }
}
